        {% extends "meTube/layouts/home_layout.html" %} {% load static %}
        {% block content %}
        <div class="card mx-auto mt-4 w-75" style="width: 80%;">
            <div class="card-header bg-dark p-4">
                <figure class="figure col-sm-8 d-flex align-items-center">
                    <img class="" id="" src="https://ui-avatars.com/api/?name=
                        {{ request.user.first_name }}+{{ request.user.surname }}
                        &background=FB9E0C&color=fff&rounded=true&size=80&format=svg"
                    alt="" >
                    <figcaption class="figure-caption fs-3 ms-4 text-light">{{ request.user.first_name }} {{ request.user.surname }}</figcaption>
                </figure>
                <div class="col-sm-4 g-1 my-auto">
                {% if request.user.is_authenticated %}
                    <button class="btn btn-change text-white my-1" id=""><span class="me-2"><i class="bi bi-pencil-square"></i></span>Change Password</button>
                    <button class="btn btn-edit text-white my-1" id=""><span class="me-2"><i class="bi bi-pencil-square"></i></span>Edit profile</button>
                {% endif %}
                </div>
            </div>
            <div class="card-body">
                {% for video in videos %}
                    
                        <div class="row row-cols-1 row-cols-md-4 g-2">
                            <div class="col">
                                <div class="card">
                                    <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title text-truncate">
                                            <a href="{% url 'meTube:watch_video' video.id %}" class="stretched-link" style="text-decoration: none; color: inherit;">{{ video.title }}</a>
                                        </h5>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <small class="text-muted">14k views</small>
                                        <small class="text-muted">3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% empty %}
                    <div class="">
                        <p class="">You have not uploaded any video yet</p>
                    <div>
                {% endfor %}
            </div>
        </div>
        <!-- End -->
        {% endblock %}