html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cccccc !important;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  padding: 15px;
  margin: auto;
}

.vl {
  border-left: 1px solid rgba(140, 140, 140, 0.8);
  height: 68%;
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: auto;
  margin-left: -3px;
}

@media (max-width:768px){
  .vl{
    display: none;
  }
  .dt{
    display: flex;
    flex-direction: column;
  }
  .dl{
    margin-top: auto;
  }
  .dr{
    padding-top:40px;
  }
}