{% extends "meTube/layouts/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <h1>meTube</h1>
    </div>
    <main class="dt d-flex justify-content-around form-signin border border-0 shadow-lg rounded-3">
        <!-- Log In -->
        <div class="col-sm-6 dl">
            <h1 class="h3 mb-4 fw-bolder text-white">Create Account</h1>
            <h6 class="mb-4 fw-bold text-white">Create an account today and enjoy unlimited video content</h6>
            <form action="" method="post" id="signInForm">
                {% csrf_token %}
                {% for field in signUpForm %}
                    <div class="form-floating mb-4">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                {% endfor %}
                {% comment %} <img class="mb-4" src="{% static 'video_app/img/camera-logo.svg' %}" alt="" width="72" height="57"> {% endcomment %}
                <a href="" class="w-100 btn btn-lg dl-btn-bg text-white" type="submit">Sign in</a>
            </form>
        </div>
        <!-- Divider -->
        <!-- <div class="vl"></div> -->
        <!-- Sign Up -->
        <div class="col-sm-6 dr">
            <h1 class="h3 mb-4 fw-bolder text-white">Log In</h1>
            <h6 class="mb-4 fw-bold text-white">Already a member?</h6>
            <form action="" method="post" class="my-auto" id="signUpForm">
                {% csrf_token %}
                {% for field in signInForm %}
                    <div class="form-floating mb-4">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                {% endfor %}
                {% comment %} <img class="mb-4" src="{% static 'video_app/img/camera-logo.svg' %}" alt="" width="72" height="57"> {% endcomment %}

                <button class="w-100 btn btn-lg dr-btn-bg text-white" type="submit">Sign in</button>
            </form>
        </div>

    </main>
{% endblock %}
