        {% extends "meTube/layouts/home_layout.html" %} {% load static %}
        {% block content %}
        <div class="px-3">
            {% for video in videos %}
                <div class="row row-cols-1 row-cols-md-4 g-5">
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{{ video.title }}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none;  color: inherit;">{{ video.title }}</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="">You have not uploaded any video yet</p>
                <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none;  color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none;  color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none;  color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none;  color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none;  color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none;  color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none; color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none; color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none; color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none; color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none; color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none; color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none; color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'meTube/img/PM.jpeg' %}" class="img-fluid" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">
                                    <a href="#" class="stretched-link" style="text-decoration: none; color: inherit;">{% lorem 2 b random %}</a>
                                </h5>
                                <div class="user-link">
                                    <h6 class="card-subtitle text-muted">
                                        <a href="/2" style="text-decoration: none; color: inherit;">Rita Dominic</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">14k views</small>
                                <small class="text-muted">3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- End -->
        {% endblock %}