{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'meTube/css/style.css' %}">
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
            crossorigin="anonymous"
        >
        <title>MeTube | Home</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-5">
            <div class="container-fluid">
                <a class="navbar-brand fs-4" href="{% url 'meTube:index' %}">MeTube.com</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul> -->
                    <form class="d-flex mx-auto w-75">
                        <div class="input-group me-5">
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><span class="mx-2"><i class="bi bi-search"></i></span></button>
                        </div>
                    </form>
                    <div class="d-flex nav-item dropstart me-3">
                        <img class="dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false"
                            src="https://ui-avatars.com/api/?name=
                                {{ request.user.first_name }}+
                                {{ request.user.surname }}&
                                background=D08104&color=fff&rounded=true&format=svg&size=36"
                            alt="">
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'meTube:add_video' %}">Upload Video</a></li>
                            <li><a class="dropdown-item" href="{% url 'meTube:profile' request.user.id %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'meTube:signOut' %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <main class="container-fluid mt-3 mb-5">
            {% block content %} {% endblock %}
        </main>
{% comment %}         
        <footer class="d-flex justify-content-center">
            <p class="mt-5 mb-3 text-muted">By Timilehin Olusegun &copy; 2021.</p>
        </footer> {% endcomment %}
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>
